* {
  font-family: "Myriad Pro", sans-serif;
  color: var(--main-white);
}

:root {
  --main-red: #ed1c24;
  --main-blue: #322e3f;
  --main-gray-header: #e2dedf;
  --main-gray-event: #efefef;
  --main-white: #fefefe;
}

/* Css numbers font will be:
font-family: 'League Spartan', sans-serif; */


.calendar {
  display: flex;
  flex-direction: row;
}

.calendar__main {
  width: 87%;
  margin: auto;
}

.main {
  background-color: var(--main-gray-event);
}

/* Logo */

.calendar__logo {
  text-align: center;
  border-radius: 15px;
  background-color: #f8f8f8;
  box-shadow: 0px 74px 34.2px 3.8px rgba(0, 0, 0, 0.25);
  width: 85%;
  margin: 10px auto;
  padding: 20px 0px 10px 10px;
  border: 4px #bcbcbc29;
  border-style: double;
}

.calendar__logo--img {
  width: 15em;
  height: auto;
}

/* Header: month and year display */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  margin-right: 0.1em;
  margin-left: 0.1em;
  margin-bottom: 0.6em;
  box-shadow: 0px 74px 34.2px -0.2px rgb(0 0 0 / 25%);
  background: linear-gradient(359deg, #d40000, transparent);
}

.calendar__month-display {
  background-color: var(--main-red);
  padding: 0.5em 2em;
}

.fa-solid,
.fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 35px;
  color: #ed1d24;
  background: #ffffff;
  padding: 1px 20px;
  border-radius: 20px 1px;
  margin: 1px -20px;
}

.calendar__previous,
.calendar__next {
  font-size: 1.4em;
}

.calendar__month,
.calendar__year {
  font-size: 24px;
  margin-right: 0.3em;
  font-family: sans-serif;
}

.calendar__previous {
  margin-right: auto;
}

.calendar__next {
  margin-left: auto;
}

.calendar__week {
  display: grid;
  grid-template-columns: repeat(7, minmax(115.5px, 1fr));
  margin-right: 0.1em;
  margin-left: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.calendar__week-day {
  background-color: #f1f1f1;
  padding: 0.3em;
  margin: 0.05em;
  color: black;
  font-family: sans-serif;
  border-top: 2px solid #fbfbfb;
  border-bottom: 2px solid #bebebe;
}

/* Footer: add event button */

.calendar__footer {
  text-align: center;
  margin: 0.05em;
}

.calendar__add-event {
  border: 0;
  background-color: var(--main-red);
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 500;
  border-bottom: #c41117 7px solid;
}

/* Days of the month display */
.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__dates--day {
  display: flex;
  flex-direction: column;
}

.calendar__dates--day--prev {
  display: flex;
  flex-direction: column;
  opacity: 0.2;
}

.calendar__day--header {
  text-align: end;
  background-color: var(--main-blue);
  height: auto;
  margin: 0.1em;
  padding: 0.2em;
  border-radius: 5px;
  border: 8px #4f4962;
  border-style: solid;
}

.calendar__day--header--prev {
  text-align: end;
  background-color: var(--main-blue);
  height: 5em;
  margin: 0.1em;
  padding: 0.2em;
  opacity: 0.6;
}

.calendar__day--content {
  display: flex;
  /* flex-direction: column;
  height: 5em; */
  margin: 0.1em;
}

.calendar__day--event {
  background-color: var(--main-gray-event);
  margin: 0.1em;
  height: 1em;
  width: 100%;
}

.calendar_day--today {
  box-shadow: inset 0 0 15px #000000;
  border-color: #de0f12;
  background: #312d3e;
  border-style: solid;
  border-width: 15px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.hide {
  display: none;
}


/* Emojis Internationals Days  */

.calendar__day--header--mainIcon {
  text-align: center;
  font-size: 370%;
  position: relative;
  filter: drop-shadow(5px 14px 11px black);
}

.calendar__day--header--circle {
  background: #000000;
  width: 90px;
  height: 10px;
  position: initial;
  border-radius: 70%;
  margin: -10px auto;
  filter: blur(6px);
  opacity: 0.7;
}

.calendar__day--header--secondIcon {
  font-size: x-large;
  position: relative;
  text-align: end;
  filter: drop-shadow(5px 14px 11px black);
}

.calendar__day--header--number {
  font-size: 20px;
  position: relative;
  font-family: unset;
  text-align: end;
}

.work {
  background-color: #ed1c24;
  color: #ed1c24 !important;
  border-radius: 4px;
}

.personal {
  background-color: #695f8b;
  color: #695f8b !important;
  border-radius: 4px;
}


.blur {
  opacity: .2;
  filter: blur(3px);
}