.new-event {
  text-align: center;
  width: -webkit-fill-available;
  height: 40vh;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 20px;
}

.new-event__dialog {
  position: absolute;
  background: white;
  padding: 31px;
  border: 1px solid #8e8e8ec9;
  width: 60%;
  max-width: 40rem;
  justify-content: center;
  top: 50%;
  filter: drop-shadow(2px 4px 26px #8e8e8ec9);
  border-radius: 20px;
  overflow-x: hidden;
}

.new-event__create-button {
  border: 0;
  background-color: #322d3f;
  width: 50%;
  padding: 0.7em;
  border-radius: 10px;
}

.new-event__cancel-button {
  border: 0;
  background-color: var(--main-red);
  width: 50%;
  padding: 0.7em;
  border-radius: 10px;
}
.new-event__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.input {
  width: -webkit-fill-available;
  color: black;
  margin-bottom: 1em;
}
.select {
  width: -webkit-fill-available;
  color: black;
}
.closeBtnEvent {
  background: #ed1d24;
  position: absolute;
  padding: 4px 10px;
  border: white 4px solid;
  border-radius: 100%;
  font-size: 20px;
  font-family: revert;
  filter: drop-shadow(3px 4px 4px lightgray);
  right: 0;
  margin: -52px -1px;
}

.eventTitle,
.initialDate,
.finalDate,
.category,
.eventHour {
  color: black;
}

.event-details,
.day-info {
  display: none;
}
