/* Note this is a copy of modal-addEvent.css */
/* EXACT COPY */

.event-details {
    text-align: center;
    width: -webkit-fill-available;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 7px 10px 10px #d2d2d2, -12px -12px 20px #ffffff;

}

.event-details__header{
    display: block;
    margin: auto 0px 15px 0px;
    font-family: system-ui;
    color: #ffffff;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ed1d24;
    transition: all .3s;
    text-align: center;
}
.event-details__dialog {
    position: absolute;
    background: linear-gradient(276deg, #ffffffd9, #d7d7d7f2);
    padding: 31px;
    width: 60%;
    max-width: 45rem;
    justify-content: center;
    top: 25%;
    border-radius: 20px;
    overflow-x: hidden;
    box-shadow: 18px 28px 50px #3c3b51b0, 11px 2px 27px #ffffff00;
}

.event-details__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 16px;
    font-family: system-ui;
}

.event-details__delete-button {
    border: 0;
    background-color: var(--main-red);
    width: 100%;
    padding: 0.7em;
    border-radius: 10px;
}

.event-details__closeBtnEvent{ 
    position: absolute;
    padding: 4px 21px;
    border: white 2px solid;
    font-size: 24px;
    font-family: revert;
    filter: drop-shadow(3px 4px 4px gray);
    right: 0;
    margin: -33px -6px;
    background: #322c3f;
    border-radius: 0px 0px 0px 30px;
  }

.event-details__title{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: system-ui;
    background: #272532;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 0px;
}

.event-details__content {
    color: #272532;
    text-align: center;
    font-size: 16px;
    font-family: system-ui;
    background: #eaeaea;
    padding: 5px 0px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 3px 6px gray);
}

.event-details__container{
    background: white;
    padding: 20px 20px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #c3c3c3;
}   

/* .input {
    width: -webkit-fill-available;
    color: black;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    background: white;
    border-radius: 5px;
    font-family: system-ui;
  
}
.select {
    width: -webkit-fill-available;
    color: black;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    background: white;
    border-radius: 5px;
    font-family: system-ui; */
/* } */
/* .event-details__close-btn-event {
    position: absolute;
    padding: 4px 21px;
    border: white 2px solid;
    font-size: 24px;
    font-family: revert;
    filter: drop-shadow(3px 4px 4px lightgray);
    right: 0;
    margin: -53px -6px;
    background: #322c3f;
    border-radius: 0px 0px 0px 30px;
}

.eventTitle,
.initialDate,
.finalDate,
.category,
.eventHour {
    color: #7e7e7e;
    font-size: 16px;
    font-family: sans-serif;
}  */

/* .event-details,
.day-info {
  display: none;
}


.invalid {
    width: -webkit-fill-available;
    color: black;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: 1px solid red;;
    background: white;
    border-radius: 5px;
    font-family: system-ui;
}

